:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Noto Sans Tamil", sans-serif;
  --third-family: "Noto Sans Telugu", sans-serif;
  --font3: "Noto Sans Devanagari", sans-serif;
  --font4: "Playfair Display", sans-serif;
}
